<body class="unique" >
<% provide(:title, "About") %>
<div class="center jumbotron-custom">
<h1 class="static">About</h1>
<p>
   This web application serves the purpose of documenting gift ideas. This web-application will make your life easier in the sense that the application is available to specifically store gift ideas and gift ideas only. No more rummaging around Google documents or old emails to find that one birthday gift idea that cannot be remembered because now you have the Gift Keeper. Stress-free is the way to be.
</p>
</body>
