<body class="unique" >
<% provide(:title, "Contact") %>
<div class="center jumbotron-custom">
<h1 class="static">Contact Information</h1>
<p>
  For more questions, please contact tbrandstatter_2016@depauw.edu
</p>
</body>