<body class="unique" >
<% provide(:title, "Home") %>
<div class="center jumbotron-custom">
  <h1 class="welcome">Gift Keeper</h1>
  <h2>
     The stress-free way to document gift-ideas.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-unique " %>
</div>
</body>
