<body class="subtle" >
<h1 id="giftlist"> Already Gifted </h1>
<table>
  <tbody idea="giftideastable">
    <tr id="title-row" >
      <td> Idea </td>
      <td> Idea Image </td>
      <td> Delete </td>
  </tr>
    <% @alreadygiftedideas.each do |idea| %>
    <% if idea.giftboard_id == session[:giftboard_id].to_i %>
      <tr>
        <td id="ideas"> <%= auto_link(idea.content) %> </td>
        <td> <%= image_tag idea.image_url %></td>
       <td><%= link_to "delete", deletealreadygiftedidea_path(id: idea.id), class: "btn btn-sml btn-delete-idea", method: :delete,
                                  data: { confirm: "Are you sure you want to delete this gift idea?" } %></td>

      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>