<% provide(:title, 'gift ideas') %>
<h1>Gift Ideas</h1>

<%= link_to "Add New Idea", idea_path, class: "btn btn-lg btn-primary" %>


<ul class="giftboards">
  <% @ideas.each do |idea| %>
    <li>
      <%= idea.content %>

    </li>
  <% end %>
</ul>
