<div class="page-header">
  <h1>My friends calendar birthday</h1>
</div>

    <% @giftboards.each do |giftboard| %>
      <% @month = giftboard.birthday.month %>
       <% @day =  giftboard.birthday.day %>

     <% bday = Date.new(Date.today.year, @month, @day) %>
     <% bday += 1.year if Date.today >= bday %>
     <%  (bday - Date.today).to_i %>

     <% end %>
      <%= Giftboard.name %>
<p> Days until their birthday: <%= bday %>. </p>

