@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
.grids-lists {
  height: 150px;
  margin-bottom: 30px;
  padding: 30px 5px 0 5px;
  margin: 2.5% 1% 1% 10%;
  }

.btn-giftlist{
    color: #fff;
    background-color: gray;
    border-color: gray;
    margin: -8px 384px 0px;
}

.btn-gifted-ideas{
   color: #fff;
    background-color: gray;
    border-color: gray;
  margin: -68px 435px 0px;
}

.btn-new-idea{
    color: #fff;
    background-color: gray;
    border-color: gray;
  margin: -27px 316px 0px;
}

table#giftideas {
  background-color:lightgrey;
  opacity: 0.9;
}

tbody#giftideastable{
  font-size: 18px;
}

h1#giftlist{
    text-transform: capitalize;
    font-weight: 500;
    font-family: "museo-slab", arial, sans-serif;
    line-height: 100%;
    font-size: 66px;
}

li#services_block {
   height: 355px;
   background-color: #33363a;
   border-left:3px solid white;
   border-right:3px solid white;
}

  .grids-lists h4 {
    color: #ff5146;
    font-size: 15px;
    font-size: 1.5rem; }
    .grids-lists h4 span {
      font-family: "proxima-nova", arial, sans-serif;
      float: right; }

  .grids-lists a:hover .news__title, .grids-lists a:hover .video-hover {
    display: block; }
  .grids-lists a:hover img {
    opacity: 0.3; }

.more {
  font-family: "proxima-nova", arial, sans-serif;
  position: absolute;
  bottom: 0;
  right: 12px; }

a#giftboard-unique  {
    color: white;
    font-size: -webkit-xxx-large;
    position: static;
    margin-right: 20px;
    margin-left: 60px;
    font-family: fanatsy;
}

 a:hover {
    text-decoration: none;
    color: #ff5146;
}

li#background{
  background-color:lightgrey;
  opacity: 0.7
}



div#wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
#box {
  margin: auto;
  width: 50em;
  @media all and (max-width: 52em) {
    width: 100%;
    }
  height: 100%;
  white-space: nowrap;
  }
#center {
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  }
#box:after {
  content: "";
  width: 1px;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: -10px;
  }

table {
  background-color: white;
  padding: 1em;

  th {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    color: white;
    background-color: lighgrey;
    position: relative;
    &:after {
      content: "";
      display: block;
      height: 5px;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: lighgrey;
      position: absolute;
      }
    }
  }




body{
  padding-top: 60px;
}

.unique {
  padding-top: 60px;
  background: url(gifts.png);
  background-size: cover!important;
}

.subtle {
  padding-top: 60px;
  background: url(subtle.jpg);
  background-size: cover!important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.jumbotron-custom{
  background: rgba(255,255,255,0.5);
  height: inherit;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a{
    color: rebeccapurple;
    text-decoration: none;
}

.welcome{
  font-size: 7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: currentColor;
}

.static{
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: currentColor;
}

.login{
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-custom {
    background-color:lightsteelblue;
    border-color: lightsteelblue;
    min-height: 40px;
    border-radius:0;
}

.btn-unique{
    color: #fff;
    background-color: darkseagreen;
    border-color: darkseagreen;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 200;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }

  .checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


}