<body class="subtle" >
<% provide(:title, 'All links') %>
<h1 id="giftlist">Shopping Links</h1>

  <% if params[:id] != nil %>
<% session[:giftboard_id] = params[:id] %>
<% end %>

<%= link_to "Create Shopping Link", newshopping_path(session{[:giftboard_id]}), class: "btn btn-lg btn-giftlist" %>

<ul>
  <% @shoppings.each do |link| %>
    <li>
     <%= auto_link(idea.content) %>
     <%= link_to "delete", deleteshopping_path(id: shopping.id), :class => "glyphicon glyphicon-remove", method: :delete,
                                  data: { confirm: "Are you sure you want to delete this gift list?" } %>
    </li>
  <% end %>
</ul>